$columnleft: 180px;
$columnright: 800px;
$gap: 30px;

$dark: #0b0b0b;
$grey: #a1a1a1;
$logoBg: rgb(124, 192, 176);

body {
  margin: 0;
  padding: 12px 12px 12px 0;
  background-color: #f2f2f2;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

  a,
  p,
  h1,
  h2,
  h3 {
    padding: 0;
    margin: 0;
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .header {
    margin-left: $columnleft + $gap;
    margin-bottom: 24px;

    a {
      color: $grey;
      margin-right: 16px;
    }
  }

  .logo {
    width: $columnleft;
    background-color: $logoBg;
    padding: 5px;
    box-sizing: border-box;
    text-align: right;
    color: #fff;
    font-weight: 600;

    a:hover {
      text-decoration: none;
    }
  }

  .content {
    margin-top: 24px;
    max-width: 1200px;

    .entry {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      margin-bottom: 36px;

      .column-left {
        color: $grey;
        margin-top: 4px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        min-width: $columnleft;
        margin-right: $gap;

        a {
          color: $grey;
          margin-top: 4px;
        }
      }

      .column-right {
        h1 {
          margin-bottom: 6px;

          a {
            font-size: 1.5em;
            color: $dark;
          }
        }
      }
    }
  }
}
