/* Color Theme Swatches in Hex */
$Travel-1-hex: #101a26;
$Travel-2-hex: #f2ba52;
$Travel-3-hex: #f29849;
$Travel-4-hex: #bf5934;
$Travel-5-hex: #8c4535;

/* Color Theme Swatches in RGBA */
$Travel-1-rgba: rgba(16, 25, 38, 1);
$Travel-2-rgba: rgba(242, 186, 82, 1);
$Travel-3-rgba: rgba(242, 151, 72, 1);
$Travel-4-rgba: rgba(191, 88, 51, 1);
$Travel-5-rgba: rgba(140, 69, 53, 1);

/* Color Theme Swatches in HSLA */
$Travel-1-hsla: hsla(213, 40, 10, 1);
$Travel-2-hsla: hsla(39, 86, 63, 1);
$Travel-3-hsla: hsla(28, 86, 61, 1);
$Travel-4-hsla: hsla(16, 57, 47, 1);
$Travel-5-hsla: hsla(11, 44, 37, 1);
