/* Color Theme Swatches in Hex */
$Fashion-1-hex: #d9ad77;
$Fashion-2-hex: #260f01;
$Fashion-3-hex: #bf6f41;
$Fashion-4-hex: #59220e;
$Fashion-5-hex: #bf6341;

/* Color Theme Swatches in RGBA */
$Fashion-1-rgba: rgba(216, 172, 119, 1);
$Fashion-2-rgba: rgba(38, 14, 0, 1);
$Fashion-3-rgba: rgba(191, 111, 65, 1);
$Fashion-4-rgba: rgba(89, 34, 14, 1);
$Fashion-5-rgba: rgba(191, 98, 65, 1);

/* Color Theme Swatches in HSLA */
$Fashion-1-hsla: hsla(33, 56, 65, 1);
$Fashion-2-hsla: hsla(22, 96, 7, 1);
$Fashion-3-hsla: hsla(22, 49, 50, 1);
$Fashion-4-hsla: hsla(16, 72, 20, 1);
$Fashion-5-hsla: hsla(16, 49, 50, 1);
